@charset "utf-8";
/*created by Sean Gray 3/6/15*/
/* CSS Document */
/*poitioning for the header so it is not on top of crest*/
#Title
{
}
body {
margin:0;
padding:0;
height:100%;
background-color:#313131;
}
/*possitioning the nav bar*/
#NavBar
{
	position: relative;
	top:20px;
	left:-1px;
	z-index:1;
	margin: 0;


}
/*white space of page*/
#wrapper {
min-height:100%;
margin-left: auto;
margin-right: auto;
width:1000px;
margin:0 auto 0 auto;
border:1px solid #000;
background:#ffffff;
}
/* all of the area with different information based on page*/
#content {
padding:10px;
padding-bottom:90px; /* Height of the footer element */ 
font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}
/*all of the lines*/
hr{
	opacity:.5;
  }
/*footer stuff*/
#footer {
width:1000px;
height:80px;
position:relative;
bottom:0;
left:0;
padding: 2px;
background:#8D1B3D;
border-top: 2px solid #202020;
font-size:10px;
color:#000;
}
/*footer email*/
#email
{
	color:#fff;
	text-decoration: none;
}
/*css for brothers.html */
.SectionTitle
{
	text-align: center;
	font-size:20px;
}
.photo
{
	-moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
     box-shadow: 0 0 5px #888;
}
.brothername
{
	font-size:20px;
	font-weight: bold;
}
/*end css for brothers.html*/
/*css for ContactUs.html*/
#address
{
	position:relative;
	left:5%;
	top: 180px;
}
#map
{
	position:relative;
	left:40%;
	
}
/*end css for ContactUs.html*/
/*css for AboutUs.html*/
.paragraph
{
	position: relative;
	text-indent: 50px;
	font-size;75%;
	width: 50%;
	top: -230px;
	left: 30px;
}
#groupphoto
{
	left: 55%;
	top: 80px;
	position: relative;
	margin-bottom: 48px;
	-moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
     box-shadow: 0 0 5px #888;
}
#coe
{   
    display: block;
	margin-left: auto;
    margin-right: auto;
	margin-top:10px;
	margin-bottom: 10px;
}
ul.coe
{
	list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAK0lEQVQYlWNgoAT0Stv+J1ohUYrfcvr9J0rxW06//0QpJtpEot1ItK8pAgBCrx+9aDXq8gAAAABJRU5ErkJggg==");
}
/*end css for AboutUs.html*/
